/*Global Styles*/
body{

}
h2{
	color: crimson;
	font-size: 25px;
} 
h3{
	text-align: center;
	color: crimson;
}
i{
	font-size: 80px;
	padding-top: 10px;
}
/*End Global Styles*/

/*Footer styles*/
.footer{
	height: 50px;
	background-color: black;
	color: lightgrey;
	padding-top: 15px;
}
.footer p{
	font-size: 10px;
}
/**/

/*Homepage Styles*/
.phone-number{
	font-size:24px;
}
.homepage-img{
	height: 150px;
	width: 100%;
}
.center{
	text-align: center;
}
.red{
	color: red;
}
.blue{
	color: blue;
}
.yellow{
	color: yellow;
}
.header{
	border-bottom: 3px solid black;
	margin-top: 20px;
}
.nav{
	margin-top: 68px;
	margin-left: 156px;
}
#logo-right{
	margin-left: 90px;
}
.content-padding{
	padding-top: 10px;
	padding-bottom: 10px;
}
.effect{
	background-color: lightgrey;
	border: 2px solid yellow;
}
.nav-center{
	display: inline-block;
	text-align: center;
}
.big-btn{
	padding: 6px 12px;
	letter-spacing: 3px;
	font-size: 20px;
}
.service-special-padding{
	padding-top: 15px;
}

.service-special-padding h3{
	font-size: 28px;
}

#bbb-logo{
	text-align: center;
	margin: 10px 0;
}
/*End homepage styles*/

/*About Us Styles*/
.img-placeholder{
	height: 300px;
	width: 202px;
	border: 2px solid black;
}
.contact-sidebar{
	border: 3px solid blue;
	width: 300px;
	padding-bottom: 10px;
	margin-left: 15px;
}
#adam{
	margin-bottom: 1px;
}
#tim{
	width: 200px;
	height: 164px;

}

/*End About Us Styles*/


/*Services Provided styles*/
.entry-wrapper{
	padding-top: 30px;
}
.services-copy{
	font-size: 23px;
}
.brand-wrapper{

}	
/**/
/*Contact Us styles*/
.phone{
	padding-bottom: 10px;
}
.phone ul{
	list-style-type: none;
}
.phone ul li {
	font-size: 20px;
}
.border{
	border: 2px solid yellow;
}
.address p {
	font-size: 20px;
}
.email{
	padding-bottom: 10px;
	font-size: 20px;
}
.spec-position{
	position: relative;
	left: 140px;
}





