/*Global Styles*/
body{

}
h2{
	color: crimson;
	font-size: 25px;
} 
h3{
	text-align: center;
	color: crimson;
}
/*End Global Styles*/

/*Homepage Styles*/
.homepage-img{
	height: 150px;
	width: 100%;
}
.center{
	text-align: center;
}
.red{
	color: red;
}
.blue{
	color: blue;
}
.header{
	border-bottom: 3px solid black;
	margin-top: 20px;
}
.nav{
	margin-top: 68px;
	margin-left: 156px;
}
.content-padding{
	padding-top: 10px;
	padding-bottom: 10px;
}
.effect{
	background-color: lightgrey;
	border: 2px solid blue;
}
.nav-center{
	display: inline-block;
	text-align: center;
}
.big-btn{
	padding: 6px 12px;
	letter-spacing: 3px;
	font-size: 20px;
}
.service-special-padding{
	padding-top: 5px;
}
/*End Global Styles*/

/*About Us Styles*/
.img-placeholder{
	height: 300px;
	width: 300px;
	border: 2px solid black;
}

/*End About Us Styles*/