/*Global Styles*/
body{

}
h2{
	color: crimson;
	font-size: 25px;
} 
h3{
	text-align: center;
	color: crimson;
}
i{
	font-size: 80px;
	padding-top: 10px;
}
/*End Global Styles*/

/*Footer styles*/
.footer{
	height: 50px;
	background-color: black;
	color: lightgrey;
	padding-top: 15px;
}
.footer p{
	font-size: 10px;
}
/**/

/*Homepage Styles*/
.phone-number{
	font-size:24px;
}
.homepage-img{
	height: 150px;
	width: 100%;
}
.center{
	text-align: center;
}
.red{
	color: red;
}
.blue{
	color: blue;
}
.yellow{
	color: yellow;
}
.header{
	border-bottom: 3px solid black;
	margin-top: 20px;
}
.nav{
	margin-top: 68px;
	margin-left: 156px;
}
#logo-right{
	margin-left: 90px;
}
.content-padding{
	padding-top: 10px;
	padding-bottom: 10px;
}
.effect{
	background-color: lightgrey;
	border: 2px solid yellow;
}
.nav-center{
	display: inline-block;
	text-align: center;
}
.big-btn{
	padding: 6px 12px;
	letter-spacing: 3px;
	font-size: 20px;
}
.service-special-padding{
	padding-top: 5px;
}
/*End homepage styles*/

/*About Us Styles*/
.img-placeholder{
	height: 300px;
	width: 202px;
	border: 2px solid black;
}
.contact-sidebar{
	border: 3px solid blue;
	width: 300px;
	padding-bottom: 10px;
	margin-left: 15px;
}
#adam{
	margin-bottom: 1px;
}
#tim{
	width: 200px;
	height: 164px;

}

/*End About Us Styles*/


/*Services Provided styles*/
.entry-wrapper{
	padding-top: 30px;
}
.services-copy{
	font-size: 23px;
}
.brand-wrapper{

}	
/**/
/*Contact Us styles*/
.phone{
	padding-bottom: 10px;
}
.phone ul{
	list-style-type: none;
}
.phone ul li {
	font-size: 20px;
}
.border{
	border: 2px solid yellow;
}
.address p {
	font-size: 20px;
}
.email{
	padding-bottom: 10px;
	font-size: 20px;
}
.spec-position{
	position: relative;
	left: 140px;
}
/**/





/*Media Query Styles Only!*/
/* Smartphones (portrait) iphone 4 to iphone 5  - Also small tablets portrait----------- */
@media only screen and (min-width : 320px) and (max-width: 600px) {
	/*.logo{
		margin-left: 340px;
	}*/
	#logo-right{
		margin-left: 0;
	}
	.nav{
		margin-left: 280px;
	}
	.homepage-img{
		height: inherit;
	}
	.co-history h2{
		text-align: center;
	}
	.kindle h2{
	text-align: center;
	}
	.kindle ul{
		text-align: center;
	}
	.kindle ul li{
		list-style-type: none;
	}
	.contact-sidebar{
		width: 97%;
	}
	.img-placeholder{
		margin: 0 auto;
	}
	.pm-list{
		text-align: center;
		list-style-type: none;
	}
	.spec-position{
		left: 440px;
	}
	.contact-phone  li{
		text-align: center;
	}
}
/*Ipad Styles Portrait*/
@media only screen and (min-width : 600px) and (max-width: 768px) {
	.logo{
		margin-left: 220px;
	}
	.homepage-img{
		height: inherit;
	}
	.co-history h2{
		text-align: center;
	}
	.contact-sidebar{
		width: 97%;
	}
	.img-placeholder{
		margin: 0 auto;
	}
	.spec-position{
		left: 320px;
	}
	.contact-phone  li{
		text-align: center;
	}
}
/*Smaller Tablets like the Kindle Fire - Portrait*/
@media only screen and (min-width : 600px) and (max-width: 600px){
	.logo{
		margin-left: 340px;
	}
	.kindle h2{
	text-align: center;
	}
	.kindle ul{
		text-align: center;
	}
	.kindle ul li{
		list-style-type: none;
	}
	.spec-position{
		left: 440px;
	}
}
/*Smaller Tablets like the Kindle Fire - Landscape*/
@media only screen and (min-width : 800px) and (max-width: 800px){
	.logo{
		margin-left: 220px;
	}
	.homepage-img{
		height: inherit;
	}
	.co-history{
		text-align: center;
	}
	.contact-sidebar{
		width: 100%;
	}
	.img-placeholder{
		margin: 0 auto;
	}
	.kindle h2{
	text-align: center;
	}
	.kindle ul{
		text-align: center;
	}
	.kindle ul li{
		list-style-type: none;
	}
	.spec-position{
		left: 320px;
	}
	.contact-phone  li{
		text-align: center;
	}
}

/*iPad Portrait and Landscape*/
@media only screen and (min-width : 768px) and (max-width: 1024px){
	.nav{
		margin-left: 0;
	}
	.contact-phone{
		padding-left: 15px;
	}
	.spec-position{
		left: 115px;
	}
	.co-history{
		text-align: center;
	}
	.kindle h2{
	text-align: center;
	}
	.kindle ul{
		text-align: center;
	}
	.kindle ul li{
		list-style-type: none;
	}


}




